<h2>Le Bureau National</h2>

<h3>Président</h3>
<ul>
    <li>Dr. BEKKAT- BERKANI Mohamed</li>
</ul>

<h3>Vice Présidents</h3>
<ul>
    <li>Pr. AYADI Abdelaziz</li>
    <li>Pr. DJENNANE Rachid</li>
    <li>Dr. BELAID Djoumouai</li>
    <li>Dr. DIAFAT Nacir</li>
</ul>

<h3>Secrétaire Général</h3>
<ul>
    <li>Dr. YOUCEF-KHODJA Djamal Abdennour</li>
</ul>

<h3>Secrétaire Général Adjoint:</h3>
<ul>
    <li>Dr. MESLI Abdellatif</li>
</ul>

<h3>Trésorier Général:</h3>
<ul>
    <li>Dr. REKIK Yahia</li>
</ul>

<h3>Trésorier Général Adjoint:</h3>
<ul>
    <li>Dr. HALLOUZ Ahmed</li>
</ul>

<h3>Assesseurs:</h3>
<ul>
    <li>Dr. MERBAH Ali</li>
    <li>Dr. BENDADA Cheikh</li>
    <li>Dr. BEDDEK Arezki</li>
</ul>

<h3>Membre élu au CNDM:</h3>
<ul>
    <li>Dr. IZEM Mohamed</li>
</ul>
