<div>
    <h2>Les organes du Conseil régional sont :</h2>

    <p>
        l'Assemblée Générale composée des membres des sections ordinales
        régionales qui le composent. Le Bureau régional composé des présidents
        et d'un membre élu de chaque section ordinale, le membre élu est du
        secteur public quand le président de la section ordinale est du secteur
        privé et vice-versa.
    </p>

    <h3>Il existe 12 conseils régionaux :</h3>

    <ul>
        <li>
            <a
                href="https://www.facebook.com/p/Conseil-de-lordre-des-m%C3%A9decins-dAlger-100079955260760/?locale=fr_FR"
                >Conseil régional d'Alger</a
            > : wilaya d'Alger
        </li>
        <li>
            <a
                href="https://www.facebook.com/p/Conseil-Ordre-M%C3%A9decins-dOran-100005541225206/?locale=fr_FR&_rdr"
                >Conseil régional d'Oran</a
            > : wilayas d'Oran, Mostaganem et de Mascara
        </li>
        <li>
            <a href="https://www.sorm-cne.dz/"
                >Conseil régional de Constantine</a
            > : wilayas de Constantine, Mila, Jijel et d'Oum el Bouaghi
        </li>
        <li>
            <a
                href="https://www.facebook.com/p/Conseil-de-lordre-des-m%C3%A9decins-Annaba-100079302704198/?locale=fr_FR"
                >Conseil régional de Annaba</a
            > : wilayas de Annaba, Skikda, El Tarf, Guelma et de Souk Ahras
        </li>
        <li>
            <a href="https://sorm-blida.dz/">Conseil régional de Blida</a> : wilayas
            de Blida, Tipasa, Médéa et de Djelfa
        </li>
        <li>
            <a
                href="https://www.facebook.com/p/Crom-Tizi-Ouzou-100071125179910/"
                >Conseil régional de Tizi Ouzou</a
            > : wilayas de Tizi Ouzou, Béjaia, Bouira et de Boumerdès
        </li>
        <li>
            <a
                href="https://www.facebook.com/p/Conseil-R%C3%A9gional-de-lOdre-de-Tlemcen-100057087684663/?locale=fr_FR"
                >Conseil régional de Tlemcen</a
            > : wilayas de Tlemcen, Ain Temouchent, Saida et de Sidi Bel Abbès
        </li>
        <li>
            <a href="https://www.facebook.com/groups/867786683937854/"
                >Conseil régional de Batna</a
            > : wilaya de Batna, Biskra, El Oued, Khenchela et de Tébessa
        </li>
        <li>
            Conseil régional de Sétif : Wilaya de Sétif , de M'sila et de Bordj
            Bou Arrerridj
        </li>
        <li>
            <a
                href="https://www.facebook.com/p/Conseil-R%C3%A9gional-de-lOrdre-des-M%C3%A9decins-de-Chlef-100077992024342/"
                >Conseil régional de Chlef</a
            > : wilayas de Chlef, Ain Defla, Relizane, Tiaret et de Tissemsilt
        </li>
        <li>
            Conseil régional de Ghardaïa : wilayas de Ghardaïa, Laghouat,
            Tamanrasset et d'Illizi
        </li>
        <li>
            <a
                href="https://www.facebook.com/Ordre-R%C3%A9gional-Des-M%C3%A9decins-B%C3%A9char-100315214966194/"
                >Conseil régional de Béchar</a
            > : wilayas de Béchar, Adrar, El Bayadh, Naama et de Tindouf.
        </li>
    </ul>
</div>
